# Copy ke .env, edit sesuai env lokal kamu

# ----- Common -----
APP_ENV=dev                     # dev | staging | prod
LOG_LEVEL=debug
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317

# ----- Database -----
PG_HOST=postgres
PG_PORT=5432
PG_USER=parkir
PG_PASSWORD=parkir_dev_only
PG_DATABASE=parkirpintar
PG_SSLMODE=disable
DB_URL=postgres://gopark:gopark@postgres:5432/parkirpintar?sslmode=disable

# ----- Redis -----
REDIS_ADDR=redis:6379
REDIS_DB=0

# ----- NATS -----
NATS_URL=nats://nats:4222
NATS_STREAM=PARKIRPINTAR

# ----- gRPC ports -----
RESERVATION_GRPC_ADDR=reservation:9091
BILLING_GRPC_ADDR=billing:9092
PAYMENT_GRPC_ADDR=payment:9093
SEARCH_GRPC_ADDR=search:9094
PRESENCE_GRPC_ADDR=presence:9095

# ----- Gateway -----
GATEWAY_HTTP_PORT=8080
GATEWAY_GRPC_PORT=9090
JWT_SECRET=super-secret-change-me-in-prod

# ----- Midtrans (QRIS sandbox) -----
MIDTRANS_SERVER_KEY=SB-Mid-server-FAKE_REPLACE_WITH_YOURS
MIDTRANS_CLIENT_KEY=SB-Mid-client-FAKE_REPLACE_WITH_YOURS
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_NOTIFICATION_URL=http://gateway:8080/v1/payments/midtrans/notification
PAYMENT_MOCK_MODE=true          # true = pakai stub, false = real Midtrans sandbox

# ----- Reservation -----
RESERVATION_HOLD_DURATION=1h
RESERVATION_EXPIRY_SCAN_INTERVAL=30s
SPOT_LOCK_TTL=10s
